HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS 
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*._[a-*[oa]z]
*.-
*.-*
*._[a-zA-Z]
*._[oa]
*.DS_Store
*Thumbs

*.o
*.pyc
*.class
*/bin
*/out
*.log
*/temp
*lock
*._exceptions
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/java/com/almacen/grupozara/AppZara/controllers/._ControllerPrices.java
/src/main/java/com/almacen/grupozara/AppZara/dao/._BrandDao.java
/src/main/java/com/almacen/grupozara/AppZara/dao/._PricesDao.java
/src/main/java/com/almacen/grupozara/AppZara/dao/._ProductDao.java
/src/main/java/com/almacen/grupozara/AppZara/dto/._BrandDTO.java
/src/main/java/com/almacen/grupozara/AppZara/dto/._PricesDTO.java
/src/main/java/com/almacen/grupozara/AppZara/dto/._ProductDTO.java
/src/main/java/com/almacen/grupozara/AppZara/mapper/._BrandMapper.java
/src/main/java/com/almacen/grupozara/AppZara/mapper/._PricesMapper.java
/src/main/java/com/almacen/grupozara/AppZara/mapper/._ProductMapper.java
/src/main/java/com/almacen/grupozara/AppZara/models/._Brand.java
/src/main/java/com/almacen/grupozara/AppZara/models/._Prices.java
/src/main/java/com/almacen/grupozara/AppZara/models/._Product.java
/src/main/java/com/almacen/grupozara/AppZara/._.DS_Store
/src/main/java/com/almacen/grupozara/AppZara/._AppZaraApplication.java
/src/main/java/com/almacen/grupozara/AppZara/._config
/src/main/java/com/almacen/grupozara/AppZara/._controllers
/src/main/java/com/almacen/grupozara/AppZara/._dao
/src/main/java/com/almacen/grupozara/AppZara/._dto
/src/main/java/com/almacen/grupozara/AppZara/._mapper
/src/main/java/com/almacen/grupozara/AppZara/._models
/src/main/java/com/almacen/grupozara/AppZara/._repository
/src/main/java/com/almacen/grupozara/AppZara/._services
/src/main/java/com/almacen/grupozara/._.DS_Store
/src/main/java/com/almacen/grupozara/._AppZara
/src/main/java/com/almacen/._.DS_Store
/src/main/java/com/almacen/._grupozara
/src/main/java/com/._.DS_Store
/src/main/java/com/._almacen
/src/main/java/._.DS_Store
/src/main/java/._com
/src/main/._.DS_Store
/src/main/._java
/src/main/._resources
/src/test/java/com/almacen/grupozara/AppZara/._AppZaraApplicationTests.java
/src/test/java/com/almacen/grupozara/._AppZara
/src/test/java/com/almacen/._grupozara
/src/test/java/com/._almacen
/src/test/java/._com
/src/test/._java
/src/._.DS_Store
/src/._main
/src/._test
/._.DS_Store
/._.gitignore
/._.java-version
/._.mvn
/._mvnw
/._mvnw.cmd
/._pom.xml
/._src
/.java-version
